/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import url("https://use.typekit.net/tjj7svq.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

body {
    font-family: "Open Sans", sans-serif;
}

.main-container {
    max-width: 1500px;
}

header {
    background-image: linear-gradient(to right top, #ccfae4, #c1f7f3, #c1f2fe, #cbebff, #dae4ff, #dee2ff, #e2e0ff, #e7deff, #dce2ff, #d2e5ff, #cbe8ff, #c6ebfc);

    height: 100vh;
    width: 100vw;
}
 
.menu-links {
    opacity: 0;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-left: auto;
    margin-right: calc(3em + 32px);
    transition: all 0.4s ease-in-out;
}

.menu-links li {
    z-index: 200;
    list-style: none;
    text-decoration: none;
    color: #050505;
    font-size: 1.2em;
    font-weight: 400;
    padding: 1rem;
}

.menu-links li a {
    text-decoration: none;
    color: #050505;
}

.menu-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 0.1em;
    background: #050505;
    transition: width 0.5s ease;
}

.menu-links a:hover::after {
    width: 100%;
}

/*  
custom shape divider CSS
*/
.custom-shape-divider-bottom-1614282129 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1614282129 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 99px;
}

.custom-shape-divider-bottom-1614282129 .shape-fill {
    fill: #FFFFFF;
}
/*  
custom shape divider CSS END
*/
.logo_svg {
    width: 2.5em;
}

.toggle-open,
.toggle-close {
    transition: all 0.4s ease-in-out;
}

.toggle-open:hover,
.toggle-close:hover {
    cursor: pointer;
}

.toggle-open {
    height: 2.5em;
    position: absolute;
    right: 4em;
}

.toggle-close {
    opacity: 0;
    width: 2em;
    position: absolute;
    right: calc(3em + 9px);
}

nav {
    min-height: 10vh;
    padding: 1em 3em 0 3em;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.heading-container h1 {
    font-family: new-spirit, serif;
    font-weight: 500;
    font-size: 2em;
}

.heading-container h2 {
    font-weight: 200;
    font-size: 1.1em;
    padding-bottom: 3em;
}

.portfolio-btn-svg {
    max-height: 1.5em;
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(40%);
    line-height: 2;
    text-align: center;
}

.heading-container .portfolio-btn {
    background-color: #050505;
    padding: 0.4em 1.5em;
    display: inline-block;
    border-radius: 1.3em;
}

.heading-container .portfolio-btn:hover {
    transform: scale(1.1);
    transition: all ease-in-out 500ms;
}

.heading-container .portfolio-btn a {
    color: #CFFAE4;
    text-decoration: none;
    font-family: "new-spirit", serif;
    font-size: 1.2em;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#portfolio {
    padding: 3em;
}

#portfolio h3 {
    font-family: "new-spirit", serif;
    font-weight: 500;
    font-size: 1.5em;
    padding-bottom: 0.8em;
}

.portfolio-text {
    margin-bottom: 3em;
}

#portfolio p,
article p,
.tech-stack-items span {
    font-size: 1.1em;
    max-width: 100%;
    line-height: 1.8;
    font-weight: 200;
}

article.tech-stack {
    padding-bottom: 5em;
}

.tech-stack-items {
    display: flex;
    flex-direction: column;
}

.tech-stack-row {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    flex-wrap: wrap;
}

.tech-stack-row-1 span {
    padding: 0 0.6em 0.6em 0;
}

.project h4,
article h2 {
    font-family: "new spirit", serif;
}

article h2 {
    font-weight: 500;
    font-size: 1.6rem;
    padding-bottom: 0.5em;
}

article {
    padding-bottom: 2em;
    color: #050505;
}

.articles-container {
    padding-top: 3em;
    max-width: 85vw;
    margin: 0 auto;
}

.project h4 {
    font-size: 1.3em;
    font-weight: 500;
    color: #050505;
    padding: 0.5em 0;
}

.project a {
    text-decoration: none;
}

.project img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
    position: relative;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.overlay .btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 1.3em;
    font-weight: 200;
    font-size: 1.2em;
    font-family: "new spirit", serif;
    width: 10em;
    text-align: center;
    margin-bottom: 2em;
}

.overlay .btn:hover,
input[type="submit"]:hover {
    transform: scale(1.1);
    transition: all ease 500ms;
}


.btn-to-site {
    background: #050505;
    color: #FFFFFF;
}

.btn-to-github {
    background: #F8D8FC;
    color: #050505;
}

.project {
    width: 100%;
    padding-bottom: 3em;
}

.project-img-container {
    position: relative;
}

.project-img-container:hover .project-image {
    opacity: 0.3;
}

.project-img-container:hover .overlay {
    opacity: 1;
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.row-1,
.row-2 {
    display: flex;
    flex-direction: column;
}

.project span {
    color: #636363;
    font-size: 1em;
}

.path_aboutme_left,
.path_aboutme_right,
.path_contact_left,
.path_contact_right {
    position: absolute;
}

.path_aboutme_left {
    top: 0;
    left: 0;
    height: 60%;
    z-index: -10;
}

.path_aboutme_right,
.path_contact_right {
    right: 0;
    top: 45%;
    height: 70%;
    z-index: -10;
}

.path_contact_left {
    top: 0;
    left: -1%;
    height: 40%;
    z-index: -100;
}

article.sayhi,
article.form {
    color: #050505;
    max-width: 90vw;
    margin: 0 auto;
}

article.sayhi .text-container {
    margin-bottom: 1.2em;
}

article.sayhi .text-container p {
    font-size: 1em;
}

article.sayhi a {
    background-image: linear-gradient(to right top, #f8d8fc, #e6deff, #d5e4ff, #c9e8ff, #c4ebfa);
    padding: 0.5em 1em;
    text-decoration: none;
    color: #050505;
    border-radius: 2em;
    font-weight: 100;
    font-size: 1.1em;
}

.input-container,
textarea {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

label {
    padding-bottom: 1em;
    font-weight: 400;
    font-size: 1.1em;
}

input,
textarea {
    outline: none;
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

input {
    border: none;
    border-bottom: 1px solid #585858;
}

input[type="submit"] {
    background-color: #050505;
    color: #cffaec;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-family: "new spirit", serif;
    font-size: 1.2em;
    transition: all 0.3s ease-in-out;
}

footer {
    width: 100vw;
    background-color: #050505;
    min-height: 20vh;
    color: #cffaec;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

footer .copyright {
    padding: 1em 0;
    font-size: 0.9em;
}

footer .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .social h5 {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 1em;
}

footer .social a {
    text-decoration: none;
}

footer .social-icons {
    width: 30vw;
    display: flex;
    justify-content:space-around;
}

.github-icon,
.twitter-icon,
.linkedin-icon {
    height: 1.5em;
}

@media screen and (min-width: 807px) {
    
    nav {
        padding: 3em 3em 0 3em;
    }

    .menu-links {
        width: 40vw;
    }

    .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .row-1,
    .row-2 {
        flex-direction: row;
        justify-content: space-between;
    }

    .project {
        width: 45%;
    }

    .toggle-icon {
        max-height: 2.6em;
    }

    #portfolio p {
        font-size: 1.1em;
        line-height: 1.6;
        font-weight: 200;
    }

    .heading-container h1 {
        font-size: 2.5em;
    }

    .heading-container h2 {
        font-size: 1.3em;
    }

    .articles-container {
        max-width: 70vw;
        min-height: 100vh;
    }

    .tech-stack-row {
        max-width: 90%;
        flex-wrap: wrap;
    }

    .tech-stack-row-2 {
        max-width: 60%;
    }

    .input-container,
    textarea {
        max-width: 60vw;
    }


    article.sayhi .text-container p {
        font-size: 1.1em;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1em 2em;
    }

    footer .social-icons {
        justify-content:space-evenly;
    }
}

@media screen and (min-width: 912px) {

    .menu-links {
        width: 30vw;
    }
}

@media screen and (min-width: 1080px) {

    footer .social-icons {
        width: 20vw;
    }

    .input-container,
    textarea {
        max-width: 55vw;
    }
}

@media screen and (max-width: 448px) {
    .menu-links {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        font-size: 0.9em;
    }

    .menu-links a {
        padding-bottom: 1.2em;
    }

    .heading-container {
        transform: none;
    }
}